 <!-- Contact Section -->
    <section id="aluno">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Aluno</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>Torne-se um especialista com os melhores professores a seu alcance. 
                    Professores de todas as áreas de ensino se cadastram e oferecem aulas presenciais ou 
                    online para todo o Brasil.<p>
                     
                    <p>● Os alunos avaliam as aulas realizadas garantindo a qualidade do ensino.</p>
                    <p>● O cadastro e uso do TeachMe é gratuito para alunos e professores.</p>

                </div>
                <div class="col-md-4 text-center">
                    <img src="../img/livros.png" width="70%"></img></a>
                </div>
                <div class="col-md-4">
                    <p>Tudo em um só lugar: </p>
                    <p>Você pode encontrar professores de Línguas, Música, Esporte, Reforço escolar, 
                    Concursos, Tecnologia, enfim, de tudo o que você precisar. Aqui não há limites para o 
                    conhecimento. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                     <p>Baixe agora o TeachMe e aproveite! </p>
                </div>
            </div>
            <div class="text-center">
                <a  href="https://play.google.com/store/apps/details?id=com.beestart.teachme" target="_blank"><img src="../img/google_play.png" width="10%"></img></a>
            </div>
    </section>