 <!-- About Section -->
    <section  id="faq" style="margin-top:30px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>FAQ</h1>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Aqui você encontra as principais perguntas e respostas sobre o aplicativo.</h3>
                </div>
            </div>
            <br/>
            <br/>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>GERAIS</h2>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-4 text-center">
                    <img src="../img/teachme.png" width="60%"></img>
                    <h3>O que é o Teachme?</h3>
                    <p>O TeachMe é um aplicativo que facilita o contato entre alunos e professores particulares.</p>
                </div>
               <div class="col-lg-4 text-center">
                    <img src="../img/teachme.png" width="60%"></img>
                    <h3>Como funciona o TeachMe?</h3>
                    <p>Professores de quaisquer áreas de ensino se cadastram, oferecendo seus serviços de aulas particulares.</p>
                    <p>Os alunos procuram pelas aulas oferecidas e encontram o contato do professor.</p>
                </div>
                <div class="col-lg-4 text-center">
                    <img src="../img/teachme.png" width="60%"></img>
                    <h3>O uso do aplicativo TeachMe é gratuito?</h3>
                    <p>
                        Sim. O cadastro de alunos e professores e o uso do aplicativo é completamente gratuito.
                        As aulas serão cobradas pelos professores, não tendo o TeachMe qualquer interferência nesse processo, pois seu objetivo é somente intermediar o contato entre professores e alunos.
                    </p>
                    <p>Em versão ainda em desenvolvimento, o pagamento das aulas poderá ser feito via aplicativo.</p>
                </div>             
            </div>

            <br/>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>ALUNOS</h2>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="col-lg-4 text-center">
                    <img src="../img/livros.png" width="60%"></img>
                    <h3>Como faço para me cadastrar?</h3>
                    <p>
                        Ao acessar pela primeira vez o aplicativo, basta escolher a opção ALUNO e autorizar o acesso do
                        aplicativo ao seu facebook. Não se preocupe pois isto não permitirá que o aplicativo faça
                        publicações em sua linha do tempo.
                    </p>
                </div>
               <div class="col-lg-4 text-center">
                    <img src="../img/livros.png" width="60%"></img>
                    <h3>Quais aulas podem ser encontradas?</h3>
                    <p>
                        Podem ser encontradas aulas de quaisquer tipo, desde mais tradicionais, como inglês, reforço
                        escolar e violão, até as mais inusitadas, como skate, hipismo, mecânica de automóveis, etc.
                    </p>
                    <p>
                        A quantidade de professores e variedade de aulas está sempre em crescimento conforme cresce o
                        numero de usuários. Por isso, se você não encontrou a aula que desejava agora, poderá encontrar
                        nas próximas vezes que procurar. 
                    </p>
                    <p>
                        Você poderá ainda, através da opção “enviar sugestão”, nos informar sobre uma modalidade de aula
                        que você gostaria de fazer. Com isso, iremos procurar um professor adequado e lhe informaremos
                        assim que a aula for oferecida em nosso aplicativo.
                    </p>                    
                </div>
                <div class="col-lg-4 text-center">
                    <img src="../img/livros.png" width="60%"></img>
                    <h3>Onde serão realizadas as aulas?</h3>
                    <p>
                       O local de realização da aula agendada deve ser combinada diretamente entre professor e aluno 
                        através do chat oferecido pelo aplicativo.
                    </p>
                </div>             
            </div>

            <div class="row">
                <div class="col-lg-4 text-center">
                    <img src="../img/livros.png" width="60%"></img>
                    <h3>Como são realizadas as aulas online?</h3>
                    <p>
                        Sugerimos a utilização do programa “Skype” pela qualidade e popularidade de seu uso. Porém, a
                        plataforma a ser utilizada ficará a critério do professor, devendo este informar ao aluno no momento
                        do agendamento da aula online. Recomendamos combinar os dados de contato para a conexão na
                        plataforma escolhida para evitar atrasos ou cancelamentos de aulas por mal entendidos nesses
                        dados.
                    </p>
                </div>
               <div class="col-lg-4 text-center">
                    <img src="../img/livros.png" width="60%"></img>
                    <h3>Como é feito o pagamento da aula?</h3>
                    <p>
                        As aulas serão cobradas pelos professores, não tendo o TeachMe qualquer interferência nesse
                        processo, pois seu objetivo é somente intermediar o contato entre professores e alunos.
                        Em versão ainda em desenvolvimento, o pagamento das aulas poderá ser feito via aplicativo
                    </p>
                </div>
                <div class="col-lg-4 text-center">
                    <img src="../img/livros.png" width="60%"></img>
                    <h3>Por que uma aula foi recusada?</h3>
                    <p>
                        Professores podem recusar aulas por qualquer motivo pessoal, porém o mais comum é a
                        indisponibilidade do horário solicitado. Normalmente, o professor vai informar via mensagem o
                        motivo da recusa, podendo oferecer uma alternativa ao aluno. Nesse caso, basta o aluno solicitar
                        novamente a aula no horário disponibilizado pelo professor.
                    </p>
                </div>             
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <img src="../img/livros.png" width="20%"></img>
                    <h3>Como avaliar o professor?</h3>
                    <p>
                        Após a realização da aula, o professor informará via aplicativo que a aula foi concluída e será
                        enviada ao aluno uma mensagem para realizar a avaliação.
                        A avaliação consiste em uma nota de 1 a 5 representando o grau de satisfação com a aula. Lembrese
                        que essa informação será muito útil para futuros alunos escolherem o professor pela qualidade de
                        sua aula.
                    </p>
                </div>
            </div>
            <br/>
             <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>PROFESSORES</h2>
                </div>
            </div>
            </br>

            <div class="row">
                <div class="col-lg-4 text-center">
                    <img src="../img/beca.png" width="60%"></img>
                    <h3>Como faço para me cadastrar?</h3>
                    <p>
                        Ao acessar pela primeira vez o aplicativo, basta escolher a opção PROFESSOR e autorizar o acesso
                        do aplicativo ao seu facebook. Não se preocupe pois isto não permitirá que o aplicativo faça
                        publicações em sua linha do tempo.
                    </p>
                </div>
               <div class="col-lg-4 text-center">
                    <img src="../img/beca.png" width="60%"></img>
                    <h3>O que devo colocar na descrição do meu perfil?</h3>
                    <p>
                        Descreva as suas características profissionais de forma simplificada, incluindo nível de formação e
                        cursos relevantes para aquilo que você ensina. Inclua também características pessoais que
                        aumentam sua credibilidade e enfatizam a qualidade de sua aula. Abaixo, segue um exemplo de
                        preenchimento do campo descrição:
                        <p>
                        “Formado em letras (inglês) na UFMG, cinco anos lecionando no Cultura Inglesa. Morei 6 meses
                        nos EUA. Foco na conversação e disponibilizo materiais para complementar o aprendizado.”
                        </p>
                    </p>
                </div>
                <div class="col-lg-4 text-center">
                    <img src="../img/beca.png" width="60%"></img>
                    <h3>Como escolher uma modalidade?</h3>
                    <p>
                        Ao fazer o cadastro, você deverá escolher uma das modalidades disponibilizadas (Matérias
                        escolares, línguas, esportes, etc). Essa escolha será importante para que seu cadastro apareça na
                        listagem de busca por modalidade feita pelos alunos. Caso o aluno faça uma busca pelo assunto de
                        sua aula (Inglês, por exemplo), a modalidade que você escolheu não vai alterar o resultado da
                        pesquisa.
                    </p>
                </div>             
            </div>
            <div class="row">
                <div class="col-lg-4 text-center">
                    <img src="../img/beca.png" width="60%"></img>
                    <h3>Como recebo pelas aulas?</h3>
                    <p>
                       As aulas serão cobradas pelos professores, não tendo o TeachMe qualquer interferência nesse
                       processo, pois seu objetivo é somente intermediar o contato entre professores e alunos.
                       Em versão ainda em desenvolvimento, o pagamento das aulas poderá ser feito via aplicativo.
                    </p>
                </div>
               <div class="col-lg-4 text-center">
                    <img src="../img/beca.png" width="60%"></img>
                    <h3>Como dar aulas online?</h3>
                    <p>
                       Sugerimos a utilização do programa “Skype” pela qualidade e popularidade de seu uso. Porém, a
                        plataforma a ser utilizada ficará a critério do professor, devendo este informar ao aluno no momento
                        do agendamento da aula online. Recomendamos combinar os dados de contato para a conexão na
                        plataforma escolhida para evitar atrasos ou cancelamentos de aulas por mal entendidos nesses
                        dados.
                        No link a seguir, você poderá obter dicas de como usar o Skype em suas aulas:
                        <a href="https://www.youtube.com/watch?v=0HvY7bLASmc" target="_blank">https://www.youtube.com/watch?v=0HvY7bLASmc</a>

                    </p>
                </div>
                <div class="col-lg-4 text-center">
                    <img src="../img/beca.png" width="60%"></img>
                    <h3>Quanto devo cobrar pelas aulas?</h3>
                    <p>
                        O valor de sua aula será definido inteiramente por você. Não colocamos qualquer tipo de limite
                        nesses valores. Sugerimos que você faça uma análise dos valores praticados no mercado para
                        oferecer um preço justo e compatível. Porém, essa é uma decisão muito pessoal de cada professor
                    </p>
                </div>             
            </div>

            <div class="row">
                <div class="col-lg-4 text-center">
                    <img src="../img/beca.png" width="60%"></img>
                    <h3>Como funciona a avaliação que o aluno faz da minha aula?</h3>
                    <p>
                       Após a realização da aula, o professor informará, via aplicativo, que a aula foi concluída e será
                        enviada ao aluno uma mensagem para realizar a avaliação.
                        A avaliação consiste em uma nota de 1 a 5 representando o grau de satisfação com a aula. Lembrese
                        que essa informação será muito útil para futuros alunos escolherem o professor pela qualidade de
                        sua aula. Sugerimos ao professor não tentar influenciar a avaliação do aluno, pois isso pode ser
                        interpretado como falta de profissionalismo, resultando em má avaliação.
                    </p>
                </div>
               <div class="col-lg-4 text-center">
                    <img src="../img/beca.png" width="60%"></img>
                    <h3>Como melhorar minha avaliação?</h3>
                    <p>
                       A avaliação é algo pessoal do aluno e expressa o grau de satisfação com a aula realizada. Isso
                        dependerá de uma série de fatores como didática, domínio do conteúdo, material didático, etc. Estes
                        fatores variam muito em relação ao tipo de aula ministrada. Por isso, de maneira geral, quanto ao
                        conteúdo da aula, a melhor maneira de obter boas avaliações é ministrar uma aula de excelente
                        qualidade, que proporcione ao aluno o melhor aprendizado e desenvolvimento de suas habilidades.
                        Porém, fatores além do conteúdo da aula também influenciam a avaliação do aluno. Por isso,
                        sugerimos manter elevada a qualidade de aspectos como: cortesia, vestuário, clareza na
                        comunicação com o aluno e profissionalismo em geral.
                    </p>
                </div>
                <div class="col-lg-4 text-center">
                    <img src="../img/beca.png" width="60%"></img>
                    <h3>Como as aulas são agendadas?</h3>
                    <p>
                        O aluno escolherá um dia e hora para a realização da aula e enviará uma solicitação ao professor. O
                        professor recebe a mensagem de solicitação e deverá aceitar ou não a aula. Caso não aceite, deverá
                        enviar na resposta o motivo pelo qual está recusando a aula, por exemplo, por estar indisponível no
                        dia e hora solicitado.
                        Sugerimos também que seja enviado nessa resposta uma sugestão de dias e horários próximos ao
                        solicitado para que a aula seja realizada. Essa negociação poderá ser feita também através do chat.
                        Definido o dia e hora da aula, não se esqueça de solicitar ao aluno que a aula seja formalmente
                        agendada no aplicativo, pois só assim ele poderá realizar a sua avaliação após a realização da aula.
                    </p>
                </div>             
            </div>

            <div class="row">
                <div class="col-lg-6 text-center">
                    <img src="../img/beca.png" width="40%"></img>
                    <h3>Onde acontecem as aulas?</h3>
                    <p>
                      O local de realização da aula agendada deve ser combinada diretamente entre professor e aluno
                    através do chat oferecido pelo aplicativo. Ao combinar o local da aula, seja bem específico para
                    evitar cancelamentos por mal entendidos quanto ao local combinado.
                    </p>
                </div>
               <div class="col-lg-6 text-center">
                    <img src="../img/beca.png" width="40%"></img>
                    <h3>Posso reagendar uma aula?</h3>
                    <p>
                      Sim. Caso tenha necessidade, você deve reagendar a aula com a maior antecedência possível. Evite,
                    sempre que possível, cancelar aulas com pouca antecedência para garantir a qualidade e
                    confiabilidade dos serviços prestados.
                    </p>
                </div>
            </div>

        </div>
    </section>