 <!-- About Section -->
    <section class="success" id="professor">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Professor</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>Encontre alunos em sua região ou online em todo o Brasil e aumente sua renda através 
                        de suas aulas. Funciona assim: <p>
                     
                    <p>● Você cria seu perfil no aplicativo e anuncia seus cursos, aulas e preços. </p>
                    <p>● O aluno escolhe dia e hora em que a aula ocorrerá e você confirma ou sugere novo dia 
e horário, de acordo com sua disponibilidade. </p>
                    <p>● Sua aula pode ser presencial ou à distância (através do Skype ou outra plataforma de 
sua preferência). </p>
                    <p>● Podem participar professores de quaisquer áreas de atuação.</p>
                </div>
                <div class="col-md-4 text-center">
                    <img src="../img/beca.png" width="70%"></img></a>
                </div>
                <div class="col-md-4">
                    <p>● Por exemplo: reforço escolar, línguas, concursos públicos, artes, músicas, atividades 
físicas, tecnologia, culinária, aviação, esportes, etc.  </p>
                    <p>● Você poderá lançar também um curso ou aula inovadora. Através de nosso blog, lhe 
ajudaremos a organizar seu conhecimento para ser passado a diante.  </p>
                    <p>
                        ● Nossa plataforma também te ajudará se você ministra aulas incomuns ou raras e tem 
                        dificuldade de encontrar alunos, pois através da TeachMe você estará conectado a 
                        alunos de sua região e de todo o Brasil.
                    </p>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>Aumente sua renda baixando agora mesmo o TeachMe! </p>
            </div>
        </div>
        <div class="text-center">
            <a  href="https://play.google.com/store/apps/details?id=com.beestart.teachme" target="_blank"><img src="../img/google_play.png" width="10%"></img></a>
        </div>
    </section>