 <!-- About Section -->
    <section class="success" id="project">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Como funciona?</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>TeachMe é o aplicativo gratuito que você usa para encontrar um professor 
                    particular em qualquer lugar do Brasil. <p>
                     
                    <p>Sempre que você precisar de aula sobre qualquer assunto, poderá encontrar 
                    aqui um professor presencial ou online. </p>
                   
                </div>
                <div class="col-md-4 text-center">
                    <img src="../img/quadro.png" width="70%"></img></a>
                </div>
                <div class="col-md-4">
                    <p>Basta criar um cadastro simples no App e pesquisar a aula que você procura. 
                    Você pode conversar com o professor através de Chat antes de marcar sua aula. 
                    A aula será paga diretamente ao professor somente após sua realização. </p>
                </div>
            </div>
        </div>
    </section>